DATABASE_URL=mysql://username:password@host:port/database_name
AUTH_MICROSOFT_ENTRA_ID_ID=your_client_id
AUTH_MICROSOFT_ENTRA_ID_SECRET=your_client_secret
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=your_tenant_id
AUTH_SECRET=your_auth_secret (generate with npx auth secret)